@use '../partials/typography' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AvenirNext", sans-serif;
}

input,
button,
select,
textarea {
  font-family: inherit;   /* Inherits font from parent (body) */ 
}