@use '../partials/variables' as *;
@use '../partials/typography' as *;

/*------------------------------------------------------- 
   Added Mixins and media Queries for Tablet and 
    Desktop breakpoints 
  -------------------------------------------------------*/
@mixin tablet {
    @media screen and (min-width:$tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:$desktop-breakpoint) {
        @content;
    }
}

/*-----------------------------------------------------------
   Added common Mixins for Setting Fonts of Band-Site
-----------------------------------------------------------*/
@mixin set-font ($fontSize, $lineheight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineheight ;
    font-weight: $fontWeight;
}

/*-----------------------------------------------------------
   Added common Mixins for Setting styling Button for site
-----------------------------------------------------------*/
@mixin set-button-style($screenType) {
    height: 2.5rem;
    padding: 0 2rem;
    border-radius: 4px;
    background-color: $primary-black;
    border-style: none;
    color: $primary-white;
    @include set-font(0.9rem, 1.25rem, 600);

    @if($screenType =="Mobile") {
        width: 100%;
    }

    @if($screenType =="TabletDesktop") {
        width: 30%;
        align-self: flex-end;
        background-color: $secondary-dark-black;
    }
}

/*-----------------------------------------------------------
   Added common Mixins for styling textbox and Textarea
-----------------------------------------------------------*/
@mixin set-form-feilds-style {
    border: 1px solid $primary-silver;
    border-radius: 4px;
    background-color: $secondary-alabaster;
    padding: 0.6rem;

    &:focus {
        outline-color: $primary-black;
    }

    &::placeholder {
        color: $primary-black;
    }
}

/*-----------------------------------------------------------
   Added common Mixins for styling images in 
   "Join the Conversation" section
-----------------------------------------------------------*/

@mixin set-coversation-image-style($screenType) {

    @if($screenType =="Mobile") {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
    }

    @if($screenType =="TabletDesktop") {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}