@use "../partials/mixin" as *;
@use '../partials/variables' as *;

/* Added mixin for Setting Tablet and Desktop Font Styling */
@mixin set-desktop-tablet-font($type) {

    @if($type =="PageHeader") {
        @include set-font(3.50rem, 4.25rem, 600);
    }

    @if($type =="SectionHeader") {
        @include set-font(2rem, 2.75rem, 600);
    }

    @if($type =="SubHeader") {
        @include set-font(1.4rem, 2rem, 600);
    }

    @if($type =="HeadLine") {
        @include set-font(1.4rem, 2rem, 600);
    }

    @if($type =="HeadSubline") {
        @include set-font(1.1rem, 1.6rem, 600);
    }

    @if($type =="BodyFont") {
        @include set-font(0.9rem, 1.4rem, 400);
    }

    @if($type =="FooterFont") {
        @include set-font(0.9rem, 1.25rem, 400);
    }

    @if($type =="FooterDemiFont") {
        @include set-font(0.9rem, 1.25rem, 600);
    }

    @if($type =="NavigationMenu") {
        @include set-font(0.9rem, 1.2rem, 600);
    }

    @if($type =="LabelFont") {
        @include set-font(0.8rem, 1.25rem, 600);
    }
}

/*-----------------------------------------------------------
   Added mixin for styling  Tablet: Hero Image
-----------------------------------------------------------*/
@mixin tablet-hero-image {
    width: 81%;
    height: 20rem;
    margin-left: 4.3rem;
}

/*-----------------------------------------------------------
   Added mixin for styling Tablet: Photo Gallery images
-----------------------------------------------------------*/
@mixin tablet-gallery-image {
    width: 10rem;
    height: 9rem;
    padding: 0 1.5rem 1.5rem 0;
    flex: 0 0 calc(33.33% - 10px);
}

/*-----------------------------------------------------------
   Added mixin for styling  Desktop: Hero Image
-----------------------------------------------------------*/
@mixin desktop-hero-image {
    width: 75%;
    height: 29.5rem;
    margin-left: 10rem;
}

/*-----------------------------------------------------------
   Added mixin for styling Tablet: Photo Gallery images
-----------------------------------------------------------*/
@mixin desktop-gallery-image {
    height: 13rem;
    padding-bottom: 0 1.5rem 1.5rem 0;
    flex: 0 0 calc(33.33% - 10px);
}