/* Primary Colors */
$primary-black:#323232;
$primary-silver:#AFAFAF;
$primary-white:#FFFFFF;

/* Secondary Colors */
$secondary-dark-black:#000000;
$secondary-mercury:#E1E1E1;
$secondary-alabaster:#E1E1E1;

/*Tablet, Desktop breakpoint varibles*/
$tablet-breakpoint:768px;
$desktop-breakpoint:1280px


