/* Primary Colors */
$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;

/* Secondary Colors */
$secondary-dark-black: #000000;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;

/*Font Weights*/
$avenir-regular: 400;
$avenir-demi: 600;
$avenir-bold: 700;

/*Tablet, Desktop breakpoint varibles*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Mobile(m): For Padding */
$m-margin: 1.4rem;
$m-padding-top: 1.7rem;
$m-padding: 1rem;

/* Tablet(dt): For Padding */
$dt-padding: 2.8rem;
$dt-margin: 2.2rem;

/*desktop: for padding*/
$desktop-margin: 8rem;
$desktop-padding-top: 2.7rem;

/*Height of Hero image*/
$m-hero-image-height: 12rem;
$t-hero-image-height: 28rem;
$d-hero-image-height: 40rem;