/* Primary Colors */
$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;

/* Secondary Colors */
$secondary-dark-black: #000000;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;

/*Font Weights*/
$avenir-regular: 400;
$avenir-demi: 600;
$avenir-bold: 700;

/*Tablet, Desktop breakpoint varibles*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Mobile(m): For Padding */
$m-margin: 1.4rem;
$m-padding-top: 2.3rem;
$m-padding: 1rem;

/* Desktop/Tablet(dt): For Padding */
$dt-padding-top: 3rem;
$dt-padding: 2.25rem;
$dt-margin: 2.25rem; 