@use '../styles/partials/global' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixin' as *;
@use '../styles/partials/mixin-mobile' as *;
@use '../styles/partials/mixin-desktop-tablet' as *;

/*-------------------------------------------------------------------------------
    Added Selectors for Header, which includes styles for Mobile, Tablet 
    and desktop
  -------------------------------------------------------------------------------*/
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
    background-color: $primary-black;

    @include tablet {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: $primary-black;
        padding: 0.2rem 0 1rem 2.5rem;
    }

    /*For BandSite Logo*/
    &__logo-container {
        @include tablet {
            width: 40%;
        }
    }

    &__logo {
        width: 10rem;
    }
}

/*For Navigation Bar(Biography, Shows)*/
.nav {
    width: 100%;
    display: flex;

    &__menu {
        width: 50%;
        text-align: center;
        padding-bottom: 1rem;

        &:hover,
        &:active {
            border-bottom: 3px solid $primary-white;
        }

        @include tablet {
            width: 30%;
            text-align: left;
            margin-top: 0.5rem;
        }
    }

    &__title {
        width: 100%;
        text-decoration: none;
        color: $secondary-mercury;
        @include set-Navigation-links-font;

        &--active {

            &:hover,
            &:active {
                color: $primary-white;
                font-weight: $avenir-bold;
            }
        }
    }
}

/*-------------------------------------------------------------------------------
    Added Selectors for Main , which includes styles for Mobile, Tablet 
    and desktop. It has below sections:
    a. Hero image and heading(The Bees Knees), b. About the music
    c. Photo Gallery
  -------------------------------------------------------------------------------*/

/* SECTION:  Hero image and heading(The Bees Knees)*/

.hero {
    &__container {
        position: relative;
        text-align: center;
        height: 250px;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(50, 50, 50, 50%);
        pointer-events: none;
    }

    &__image {
        width: 100%;
        height: 250px;
        background-size: cover;
    }

    &__title {
        position: absolute;
        top: 45%;
        padding-left: $m-padding-between;
        color: $primary-white;
        @include set-mobile-font("PageHeader");
    }
}