@use '../styles/partials/global' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixin' as *;
@use '../styles/partials/mixin-mobile' as *;
@use '../styles/partials/mixin-desktop-tablet' as *;

/*-------------------------------------------------------------------------------
    Added Selectors for Header, which includes styles for Mobile, Tablet 
    and desktop
  -------------------------------------------------------------------------------*/
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
    background-color: $primary-black;

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.2rem 0 1rem 2.5rem;
    }

    /*For BandSite Logo*/
    &__logo-container {
        @include tablet {
            width: 40%;
        }
    }

    &__logo {
        width: 10rem;
    }
}

/*For Navigation Bar(Biography, Shows)*/
.nav {
    width: 100%;
    display: flex;

    &__menu {
        width: 50%;
        text-align: center;
        padding-bottom: 1rem;

        &:hover,
        &:active {
            border-bottom: 3px solid $primary-white;
        }

        @include tablet {
            width: 30%;
            text-align: left;
            margin-top: 0.5rem;
        }
    }

    &__title {
        width: 100%;
        text-decoration: none;
        color: $secondary-mercury;
        @include set-Navigation-links-font;

        &--active {

            &:hover,
            &:active {
                color: $primary-white;
                font-weight: $avenir-bold;
            }
        }
    }
}

/*-------------------------------------------------------------------------------
    Added Selectors for Main , which includes styles for Mobile, Tablet 
    and desktop. It has below sections:
    a. Hero image and heading(The Bees Knees), 
    b. About the musicians
    c. Photo Gallery
  -------------------------------------------------------------------------------*/

/* SECTION a:  Hero image and heading(The Bees Knees)*/

.hero {
    &__container {
        position: relative;
        text-align: center;
        height: 15.8rem;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(50, 50, 50, 50%);
        pointer-events: none;
    }

    &__image {
        width: 100%;
        height: 15.8rem;
        background-size: cover;
    }

    &__title {
        position: absolute;
        top: 45%;
        padding-left: $m-margin;
        color: $primary-white;
        @include set-mobile-font("PageHeader");
    }
}

/*-------------------------------------------------------------------------------
    section b. About the musicians :
      Musicians title,image and information abt "The Bees knees" band -
  -------------------------------------------------------------------------------*/
.musician {
    &__title {
        padding: $m-padding-top $m-margin $m-padding $m-margin;
        @include set-mobile-font("PageHeader");
        color: $primary-black;
    }

    &__image {
        @include set-mobile-padding-image;
    }
}

/* Added mdetails section for showing Musician's details */
.mdetails {
    padding-left: $m-margin;
    padding-right: $m-margin;
    color: $primary-black;

    &__header {
        @include set-mobile-font("SectionHeader");
    }

    &__sub-header {
        @include set-mobile-font("SectionHeader");
        padding-top: $m-padding-top;
        padding-bottom: $m-padding;
    }

    &__sub-data {
        color: $secondary-dark-black;
        @include set-mobile-font("BodyFont");
        line-height: 1.4;
    }

    &__empty-line {
        width: 100%;
        height: 2rem;
    }
}

/*-------------------------------------------------------------------------------
    section c. Photo Gallery :
      Added title(Photo Gallery) and 9 related images
-------------------------------------------------------------------------------*/
.gallery {
    background-color: $secondary-alabaster;

    &__title {
        padding: $m-padding-top $m-margin $m-padding $m-margin;
        @include set-mobile-font("PageHeader");
        color: $primary-black;
    }

    &__image {
        @include set-mobile-padding-image;
    }
}

/*-------------------------------------------------------------------------------
    Added "Footer" section of site
-------------------------------------------------------------------------------*/
.footer {
    background-color: $primary-black;
    color: $primary-white;
    padding-top: 0.5rem;
    padding-left: $m-margin;

    &__title {
        padding: $m-padding-top $m-margin $m-padding 0;
        @include set-mobile-font("PageHeader");
    }

    &__icons {
        padding-top: 0.7rem;
        padding-bottom: 1.6rem;
        display: flex;
        column-gap: 3rem;
        align-items: center;
    }

    &__instagram {
        width: 2.2rem;
        height: 2.2rem;
    }

    &__facebook {
        width: 1.3rem;
        height: 3.3rem;
    }

    &__twitter {
        width: 2.4rem;
        height: 2.6rem;
    }
}

/*---Added fdetails section for showing (title,Address, email) for ----------
  --The Bees Knees Management, Limitless Artist Group, ARCH Entertainment */
.fdetails {
    &__title {
        padding-bottom: 1.6rem;
        @include set-mobile-font("SubHeader");
    }

    &__address {
        padding-bottom: 1.5rem;
        @include set-mobile-font("FooterAddress");
        line-height: 1.5;
    }

    &__email {
        @include set-mobile-font("FooterEmail");
        padding-bottom: 2.3rem;
    }
}

/*Added copyright section for BandSite logo and copyright details */
.copyright {
    width: 100%;
    height: 9.5rem;

    &__logo {
        width: 10rem;
        padding-top: 2.2rem;
        padding-bottom: 1.5rem;
    }
}