@use '../styles/partials/global' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixin' as *;
@use '../styles/partials/mixin-mobile' as *;
@use '../styles/partials/mixin-desktop-tablet' as *;

/*-------------------------------------------------------------------------------
    Added Selectors for Header, which includes styles for Mobile, Tablet 
    and desktop
  -------------------------------------------------------------------------------*/
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
    background-color: $primary-black;

    @include tablet {
        width: 100%;
        height: 4rem;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: $dt-margin;
    }

    /*For BandSite Logo*/
    &__logo-container {
        @include tablet {
            width: 28%;
        }
    }

    &__logo {
        width: 10rem;

        @include tablet {
            width: 7rem;
        }
    }
}

/*For Navigation Bar(Biography, Shows)*/
.nav {
    width: 100%;
    display: flex;

    @include tablet {
        width: 100%;
        gap: 3rem;
        height: 3rem;
        align-content: end;
    }

    &__menu {
        width: 50%;
        text-align: center;
        padding-bottom: 1rem;

        &:active,
        &:hover {
            border-bottom: 3px solid $primary-white;
        }

        @include tablet {
            width: fit-content;
            padding-top: 1rem;
        }
    }

    &__item {
        width: 100%;
        text-decoration: none;
        color: $secondary-mercury;
        @include set-mobile-font("NavigationMenu");

        @include tablet {
            @include set-desktop-tablet-font("NavigationMenu");
        }

        &--active {

            &:active,
            &:hover {
                color: $primary-white;
                font-weight: $avenir-demi;
            }
        }
    }
}

/*-------------------------------------------------------------------------------
    Added Selectors for Main , which includes styles for Mobile, Tablet 
    and desktop. It has below sections:
    a. Hero image and heading(The Bees Knees), 
    b. About the musicians
    c. Photo Gallery
  -------------------------------------------------------------------------------*/

/* SECTION a:  Hero image and heading(The Bees Knees)*/

.hero {
    &__container {
        position: relative;
        text-align: center;
        height: $m-hero-image-height;

        @include tablet {
            height: $dt-hero-image-height;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(50, 50, 50, 50%);
        pointer-events: none;
    }

    &__image {
        width: 100%;
        height: $m-hero-image-height;
        background-size: cover;

        @include tablet {
            height: $dt-hero-image-height;
        }
    }

    &__title {
        position: absolute;
        top: 45%;
        padding-left: $m-margin;
        color: $primary-white;
        @include set-mobile-font("PageHeader");

        @include tablet {
            padding-left: $dt-margin;
            @include set-desktop-tablet-font("PageHeader");
        }
    }
}

/*-------------------------------------------------------------------------------
    section b. About the musicians :
      Musicians title,image and information abt "The Bees knees" band -
  -------------------------------------------------------------------------------*/
.musician {

    &__title {
        padding: $m-padding-top $m-margin $m-padding $m-margin;
        @include set-mobile-font("PageHeader");
        color: $primary-black;

        @include tablet {
            @include set-desktop-tablet-font("SectionHeader");
            padding-left: $dt-margin;
        }
    }

    &__image {
        @include mobile-padding-image;

        @include tablet {
            @include desktop-tablet-hero-image;
        }
    }
}

/* Added mdetails section for showing Musician's details */
.mdetails {
    padding-left: $m-margin;
    padding-right: $m-margin;
    color: $primary-black;

    @include tablet {
        width: 80%;
        margin-left: 4.5rem;
    }

    &__header {
        @include set-mobile-font("SectionHeader");

        @include tablet {
            @include set-desktop-tablet-font("HeadLine");
            margin-top: 1rem;
        }
    }

    &__header-subline {
        @include tablet {
            @include set-desktop-tablet-font("HeadSubline");
        }
    }

    &__sub-header {
        @include set-mobile-font("SectionHeader");
        padding-top: $m-padding-top;
        padding-bottom: $m-padding;

        @include tablet {
            @include set-desktop-tablet-font("SubHeader");
            color: $secondary-dark-black;
        }
    }

    &__sub-data {
        color: $secondary-dark-black;
        @include set-mobile-font("BodyFont");
        line-height: 1.4;

        @include tablet {
            display: flex;
            @include set-desktop-tablet-font("BodyFont");
            padding-bottom: 1.7rem;
            width: 110%;
        }
    }

    &__empty-line {
        width: 100%;
        height: 2rem;
    }
}

/*-------------------------------------------------------------------------------
    section c. Photo Gallery :
      Added title(Photo Gallery) and 9 related images
-------------------------------------------------------------------------------*/
.gallery {
    background-color: $secondary-alabaster;

    @include tablet {
        padding-bottom: 0.6rem;
    }

    &__container {
        @include tablet {
            display: flex;
            flex-direction: row;
            padding-left: $dt-margin;
            flex-wrap: wrap;
        }
    }

    &__title {
        padding: $m-padding-top $m-margin 1.3rem $m-margin;
        @include set-mobile-font("PageHeader");
        color: $primary-black;

        @include tablet {
            @include set-desktop-tablet-font("SectionHeader");
            padding-left: $dt-margin;
        }
    }

    &__image {
        @include mobile-padding-image;

        @include tablet {
            @include desktop-tablet-gallery-image;
        }
    }
}

/*-------------------------------------------------------------------------------
    Added "Footer" section of site
-------------------------------------------------------------------------------*/
.footer {
    background-color: $primary-black;
    color: $primary-white;
    padding-top: 0.5rem;
    padding-left: $m-margin;

    @include tablet {
        padding-left: $dt-margin;
        position: relative;
    }

    &__container1 {
        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 2.3rem;
        }
    }

    &__container2 {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 3rem;
        }
    }

    &__title {
        padding: $m-padding-top $m-margin $m-padding 0;
        @include set-mobile-font("PageHeader");

        @include tablet {
            @include set-desktop-tablet-font("SectionHeader");
        }
    }

    &__icons {
        padding-top: 0.7rem;
        padding-bottom: 1.6rem;
        display: flex;
        column-gap: 3rem;
        align-items: center;

        @include tablet {
            column-gap: 2rem;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;
        }
    }

    &__instagram {
        width: 2.2rem;
        height: 2.2rem;

        @include tablet {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &__facebook {
        width: 1.3rem;
        height: 3.3rem;

        @include tablet {
            width: 0.9rem;
            height: 2.8rem;
        }
    }

    &__twitter {
        width: 2.4rem;
        height: 2.6rem;

        @include tablet {
            width: 1.8rem;
            height: 2.0rem;
        }
    }
}

/*---Added fdetails section for showing (title,Address, email) for ----------
  --The Bees Knees Management, Limitless Artist Group, ARCH Entertainment */
.fdetails {
    &__title {
        padding-bottom: 1.6rem;
        @include set-mobile-font("SubHeader");

        @include tablet {
            @include set-desktop-tablet-font("FooterDemiFont");
        }
    }

    &__address {
        padding-bottom: 1.5rem;
        @include set-mobile-font("FooterAddress");
        line-height: 1.5;

        @include tablet {
            @include set-desktop-tablet-font("FooterFont");
        }
    }

    &__email {
        @include set-mobile-font("FooterEmail");
        padding-bottom: 2.3rem;
        text-decoration: none;
        color: $primary-white;

        @include tablet {
            @include set-desktop-tablet-font("FooterFont");
        }
    }
}

/*Added copyright section for BandSite logo and copyright details */
.copyright {
    width: 100%;
    height: 9.5rem;

    &__logo {
        width: 10rem;
        padding-top: 2.2rem;
        padding-bottom: 1.5rem;

        @include tablet {
            position: absolute;
            left: 80%;
            top: 1.4rem;
            width: 15%;
        }
    }

    &__copy {
        @include tablet {
            position: absolute;
            left: $dt-margin;
            top: 75%;
            @include set-desktop-tablet-font("FooterFont");
        }
    }
}