@use '../styles/partials/variables' as *;
@use '../styles/partials/mixin' as *;
@use '../styles/partials/mixin-mobile' as *;
@use '../styles/partials/mixin-desktop-tablet' as *;

/*-------------------------------------------------------------------------------
    Added Selectors for Main , which includes styles for Mobile, Tablet 
    and desktop. It has below sections:
    a. Hero image and heading,subheading and SoundCloud track, 
    b. Shows : It will list down shows, their timings and BUY TICKETS button
  -------------------------------------------------------------------------------*/

/* SECTION a:Hero image and heading,subheading and SoundCloud track */

.hero {
    &__container {
        position: relative;
        text-align: center;
        height: $m-hero-image-height;

        @include tablet {
            height: 30rem;
        }

        @include desktop {
            height: $d-hero-image-height;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(50, 50, 50, 50%);
        pointer-events: none;
    }

    &__image {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: $primary-white;
        margin-left: $m-margin;
        top: 12%;
        gap: 1.1rem;
        text-align: left;

        @include tablet {
            margin-left: $dt-margin;
        }

        @include desktop {
            margin-left: $desktop-margin;
            margin-top: 7.6rem;
        }
    }

    &__subtitle {
        @include set-mobile-font("BodyFont");

        @include tablet {
            @include set-desktop-tablet-font("SubHeader");
        }
    }

    &__title {
        @include set-mobile-font("PageHeader");
        width: 75%;

        @include tablet {
            @include set-desktop-tablet-font("PageHeader");
        }

        @include desktop {
            width: 55%;
        }
    }

    &__iframe {
        width: 95%;
        height: 6rem;

        @include tablet {
            margin-top: 1.5rem;
            width: 52%;
            height: 8.7rem;
        }

        @include desktop {
            position: absolute;
            top: 2.4rem;
            left: 66%;
            width: 48%;
        }
    }
}

/*SECTION b. Shows : It will list down shows, their timings and BUY TICKETS button*/
.shows {
    margin-bottom: $m-margin;

    @include tablet {
        margin-bottom: 2.2rem;
    }

    @include desktop {
        display: flex;
        gap: 7rem;
    }

    &__list {
        padding: 0;
        margin: 0;

        @include desktop {
            padding-top: $desktop-padding-top;
            width: 67%;
        }
    }

    &__title {
        margin: 2rem 0 0.3rem $m-margin;
        @include set-mobile-font("PageHeader");

        @include tablet {
            margin-left: $dt-margin;
            margin-top: 3rem;
            @include set-desktop-tablet-font("SectionHeader");
        }

        @include desktop {
            padding: 0;
            margin-left: $desktop-margin;
            margin-top: $desktop-padding-top;
        }
    }

    &__item {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: $m-padding;

        @include tablet {
            flex-direction: row;
            gap: 1.9rem;
            align-items: center;
            padding: 1rem 0 1rem 0.3rem;
            border-bottom: 1px solid $secondary-mercury;
            margin: 0 1rem;
        }

        @include desktop {
            justify-content: flex-start;
            gap: 1.8rem;
        }

        &:hover {
            background-color: $secondary-alabaster;
        }

        &--selected {
            background-color: $secondary-mercury;
        }
    }

    &__heading-item {
        display: none;

        @include tablet {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 1.9rem;
            align-items: center;
            padding: 1rem 0 0.2rem 0.3rem;
            margin: 0 1rem;
        }
    }

    &__item-child {
        @include tablet {
            width: 20%;
        }
    }

    &__heading-label {
        display: none;

        @include tablet {
            display: flex;
            @include set-desktop-tablet-font("LabelFont");
            color: $primary-silver;
            width: 20%;
            padding-left: 1rem;
        }

        @include desktop {
            gap: 9rem;
            margin-bottom: 1rem
        }
    }

    &__label {
        @include set-mobile-font("LabelFont");
        color: $primary-silver;
        margin-left: $m-margin;

        @include tablet {
            display: none;
        }
    }

    &__value {
        @include set-mobile-font("BodyFont");
        margin-left: $m-margin;
        color: $secondary-dark-black;

        @include tablet {
            @include set-desktop-tablet-font("BodyFont");
        }
    }

    &__date-value {
        @include set-mobile-font("BodyFont");
        margin-left: $m-margin;
        font-weight: 600;

        @include tablet {
            @include set-desktop-tablet-font("BodyFont");
            font-weight: 600;
        }

    }

    &__button {
        @include set-button-style("Mobile");
        width: 90%;
        margin-left: $m-margin;

        @include tablet {
            width: 22%;
        }

        @include desktop {
            width: 20%;
            margin-left: 3rem;
        }
    }

    &__divider {
        border: 1px solid $secondary-mercury;

        @include tablet {
            display: none;
        }
    }
}