/* Primary Colors */
/* Secondary Colors */
/*Font Weights*/
/*Tablet, Desktop breakpoint varibles*/
/* Mobile(m): For Padding */
/* Tablet(dt): For Padding */
/*desktop: for padding*/
/*Height of Hero image*/
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
}
/*------------------------------------------------------- 
   Added Mixins and media Queries for Tablet and 
    Desktop breakpoints 
  -------------------------------------------------------*/
/*-----------------------------------------------------------
   Added common Mixins for Setting Fonts of Band-Site
-----------------------------------------------------------*/
/*-----------------------------------------------------------
   Added common Mixins for Setting styling Button for site
-----------------------------------------------------------*/
/*-----------------------------------------------------------
   Added common Mixins for styling textbox and Textarea
-----------------------------------------------------------*/
/*-----------------------------------------------------------
   Added common Mixins for styling images in 
   "Join the Conversation" section
-----------------------------------------------------------*/
/*-----------------------------------------------------------
   Added mixin for Setting Mobile Font Styling
-----------------------------------------------------------*/
/*-----------------------------------------------------------
   Added mixin for mobile padding styling for Band image 
   and Photo Gallery image
-----------------------------------------------------------*/
/* Added mixin for Setting Tablet and Desktop Font Styling */
/*-----------------------------------------------------------
   Added mixin for styling  Tablet: Hero Image
-----------------------------------------------------------*/
/*-----------------------------------------------------------
   Added mixin for styling Tablet: Photo Gallery images
-----------------------------------------------------------*/
/*-----------------------------------------------------------
   Added mixin for styling  Desktop: Hero Image
-----------------------------------------------------------*/
/*-----------------------------------------------------------
   Added mixin for styling Tablet: Photo Gallery images
-----------------------------------------------------------*/
/*-------------------------------------------------------------------------------
    Added Selectors for Main , which includes styles for Mobile, Tablet 
    and desktop. It has below sections:
    a. Hero image and heading,subheading and SoundCloud track, 
    b. Shows : It will list down shows, their timings and BUY TICKETS button
  -------------------------------------------------------------------------------*/
/* SECTION a:Hero image and heading,subheading and SoundCloud track */
.hero__container {
  position: relative;
  text-align: center;
  height: 17rem;
}
@media screen and (min-width: 768px) {
  .hero__container {
    height: 30rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    height: 40rem;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  pointer-events: none;
}
.hero__image {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.hero__title-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #FFFFFF;
  margin-left: 1rem;
  top: 12%;
  gap: 1.1rem;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .hero__title-container {
    margin-left: 2.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title-container {
    margin-left: 8rem;
    margin-top: 7.6rem;
  }
}
.hero__subtitle {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  width: 75%;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.5rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 55%;
  }
}
.hero__iframe {
  width: 95%;
  height: 6rem;
}
@media screen and (min-width: 768px) {
  .hero__iframe {
    margin-top: 1.5rem;
    width: 52%;
    height: 8.7rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__iframe {
    position: absolute;
    top: 2.4rem;
    left: 66%;
    width: 48%;
  }
}

/*SECTION b. Shows : It will list down shows, their timings and BUY TICKETS button*/
.shows {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows {
    margin-bottom: 2.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    gap: 7rem;
  }
}
.shows__list {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .shows__list {
    padding-top: 2.7rem;
    width: 67%;
  }
}
.shows__title {
  margin: 2rem 0 0.3rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows__title {
    margin-left: 2.2rem;
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    padding: 0;
    margin-left: 8rem;
    margin-top: 2.7rem;
  }
}
.shows__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__item {
    flex-direction: row;
    gap: 1.9rem;
    align-items: center;
    padding: 1rem 0 1rem 0.3rem;
    border-bottom: 1px solid #E1E1E1;
    margin: 0 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__item {
    justify-content: flex-start;
    gap: 1.8rem;
  }
}
.shows__item--hover {
  background-color: #FAFAFA;
}
.shows__item--selected {
  background-color: #E1E1E1;
}
.shows__heading-item {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__heading-item {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.9rem;
    align-items: center;
    padding: 1rem 0 0.2rem 0.3rem;
    margin: 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__item-child {
    width: 20%;
  }
}
.shows__heading-label {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__heading-label {
    display: flex;
    font-size: 0.8rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #AFAFAF;
    width: 20%;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__heading-label {
    gap: 9rem;
    margin-bottom: 1rem;
  }
}
.shows__label {
  font-size: 0.7rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #AFAFAF;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__label {
    display: none;
  }
}
.shows__value {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
  margin-left: 1rem;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .shows__value {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
  }
}
.shows__date-value {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
  margin-left: 1rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows__date-value {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
    font-weight: 600;
  }
}
.shows__button {
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 4px;
  background-color: #323232;
  border-style: none;
  color: #FFFFFF;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 600;
  width: 100%;
  width: 90%;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: 22%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__button {
    width: 20%;
    margin-left: 3rem;
  }
}
.shows__divider {
  border: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .shows__divider {
    display: none;
  }
}/*# sourceMappingURL=shows.css.map */